@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-color: rgb(250, 250, 250);
    --background-start-color: rgb(24, 24, 27);
    --background-end-color: rgb(9, 9, 11);
}

body {
    color: var(--foreground-color);
    background: linear-gradient(
        to bottom,
        transparent 25%,
        var(--background-end-color) 100%
    )
    var(--background-start-color);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

::-webkit-scrollbar {
    width: 10px;
    padding-left: 10px;
    margin-left: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.75rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fafafa;
    border-radius: 0.75rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e4e4e7;
}