@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-color: #fafafa;
    --background-start-color: rgb(24, 24, 27);
    --background-end-color: #09090b;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #fafafa #18181b;
}

body {
    color: #fafafa;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

::-webkit-scrollbar {
    width: 10px;
    padding-left: 10px;
    margin-left: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #18181b;
    border-radius: 0.75rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fafafa;
    border-radius: 0.75rem;
    width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e4e4e7;
}